![rmotr](https://user-images.githubusercontent.com/7065401/52071918-bda15380-2562-11e9-828c-7f95297e4a82.png)
<hr style="margin-bottom: 40px;">

# Pandas Series exercises

In [1]:
# Import the numpy package under the name np
import numpy as np

# Import the pandas package under the name pd
import pandas as pd

# Print the pandas version and the configuration
print(pd.__version__)

2.2.2

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Series creation

### Create an empty pandas Series

In [3]:
# your code goes here
pd.Series()

Series([], dtype: object)

In [ ]:
# @title
pd.Series()

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X python list convert it to an Y pandas Series

In [5]:
# your code goes here
X = [1, 2, 3, 4]

Y = pd.Series(X)

Y

0    1
1    2
2    3
3    4
dtype: int64

In [ ]:
# @title
X = ['A','B','C']
print(X, type(X))

Y = pd.Series(X)
print(Y, type(Y)) # different type

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, name it 'My letters'

In [8]:
# your code goes here
X = pd.Series(['A', 'B', 'C'], name='My letters')
X

0    A
1    B
2    C
Name: My letters, dtype: object

In [ ]:
# @title
X = pd.Series(['A','B','C'])

X.name = 'My letters'
X

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show its values

In [9]:
# your code goes here
X = pd.Series(['A', 'B', 'C'], name='My letters')
X.values

array(['A', 'B', 'C'], dtype=object)

In [ ]:
# @title
X = pd.Series(['A','B','C'])

X.values

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Series indexation

### Assign index names to the given X pandas Series

In [10]:
# your code goes here
X = pd.Series(['A', 'B', 'C'], name='My letters')
X.index = ['first', 'second', 'third']
X

first     A
second    B
third     C
Name: My letters, dtype: object

In [ ]:
# @title
X = pd.Series(['A','B','C'])
index_names = ['first', 'second', 'third']

X.index = index_names
X

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show its first element

In [13]:
# your code goes here
X = pd.Series(['A', 'B', 'C'], name='My letters', index=['first', 'second', 'third'])

X['first']

'A'

In [ ]:
# @title
X = pd.Series(['A','B','C'], index=['first', 'second', 'third'])

#X[0] # by position
#X.iloc[0] # by position
X['first'] # by index

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show its last element

In [14]:
# your code goes here
X = pd.Series(['A', 'B', 'C'], name='My letters', index=['first', 'second', 'third'])

X.iloc[-1]

'C'

In [ ]:
# @title
X = pd.Series(['A','B','C'], index=['first', 'second', 'third'])

#X[-1] # by position
#X.iloc[-1] # by position
X['third'] # by index

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show all middle elements

In [21]:
# your code goes here
X = pd.Series(['A', 'B', 'C'], name='My letters', index=['first', 'second', 'third'])

X[1:-1]

second    B
Name: My letters, dtype: object

In [ ]:
# @title
X = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth','fifth'])

#X[['second', 'third', 'forth']]
#X.iloc[1:-1] # by position
X[1:-1] # by position

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show the elements in reverse position

In [22]:
# your code goes here
X = pd.Series(['A', 'B', 'C'], name='My letters', index=['first', 'second', 'third'])

X[::-1]

third     C
second    B
first     A
Name: My letters, dtype: object

In [ ]:
# @title
X = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth','fifth'])

#X.iloc[::-1]
X[::-1]

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show the first and last elements

In [29]:
# your code goes here
X = pd.Series(['A', 'B', 'C'], name='My letters', index=['first', 'second', 'third'])

X.iloc[[0, -1]]

first    A
third    C
Name: My letters, dtype: object

In [ ]:
# @title
X = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth','fifth'])

#X[['first', 'fifth']]
#X.iloc[[0, -1]]
X[[0, -1]]

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Series manipulation

### Convert the given integer pandas Series to float

In [37]:
# your code goes here
X = pd.Series([1, 2, 3, 5, 0])

pd.Series(X, dtype=np.float_)

0    1.0
1    2.0
2    3.0
3    5.0
4    0.0
dtype: float64

In [ ]:
# @title
X = pd.Series([1,2,3,4,5],
              index=['first','second','third','forth','fifth'])

pd.Series(X, dtype=np.float)

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Reverse the given pandas Series (first element becomes last)

In [38]:
# your code goes here
X = pd.Series(['A', 'B', 'C'], name='My letters', index=['first', 'second', 'third'])

X[::-1]

third     C
second    B
first     A
Name: My letters, dtype: object

In [ ]:
# @title
X = pd.Series([1,2,3,4,5],
              index=['first','second','third','forth','fifth'])

X[::-1]

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Order (sort) the given pandas Series

In [45]:
# your code goes here
X = pd.Series([1, 2, 6, 3, 8, 90],
              index=['forth', 'second', 'fifth', 'first', 'third', 'sixth'])

X = X.sort_values()

X

forth      1
second     2
first      3
fifth      6
third      8
sixth     90
dtype: int64

In [ ]:
# @title
X = pd.Series([4,2,5,1,3],
              index=['forth','second','fifth','first','third'])

X = X.sort_values()
X

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, set the fifth element equal to 10

In [51]:
# your code goes here
X = pd.Series([1, 2, 3, 4, 6, 6], name='My letters', index=['first', 'second', 'third', 'forth', 'fifth', 'sixth'])

X.iloc[4] = 10
X

first      1
second     2
third      3
forth      4
fifth     10
sixth      6
Name: My letters, dtype: int64

In [ ]:
# @title
X = pd.Series([1,2,3,4,5],
              index=['A','B','C','D','E'])

X[4] = 10
X

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, change all the middle elements to 0

In [56]:
# your code goes here
X = pd.Series([1, 2, 3, 4, 6, 6], name='My letters', index=['first', 'second', 'third', 'forth', 'fifth', 'sixth'])

X.iloc[1:-1] = 0

X

first     1
second    0
third     0
forth     0
fifth     0
sixth     6
Name: My letters, dtype: int64

In [ ]:
# @title
X = pd.Series([1,2,3,4,5],
              index=['A','B','C','D','E'])

X[1:-1] = 0
X

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, add 5 to every element

In [59]:
# your code goes here
X = pd.Series([1, 2, 3, 4, 6, 6], name='My letters', index=['first', 'second', 'third', 'forth', 'fifth', 'sixth'])

X + 5

first      6
second     7
third      8
forth      9
fifth     11
sixth     11
Name: My letters, dtype: int64

In [ ]:
# @title
X = pd.Series([1,2,3,4,5])

X + 5

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Series boolean arrays (also called masks)

### Given the X pandas Series, make a mask showing negative elements

In [60]:
# your code goes here
X = pd.Series([1, 2, 3, 4, 6, 6, -8, -10, 11, -9, 45],
              name='My letters',
              index=['first', 'second', 'third', 'forth', 'fifth', 'sixth', 'seventh', 'eighth', 'ninth', 'tenth', 'eleventh'])

mask = X<=0

mask

first       False
second      False
third       False
forth       False
fifth       False
sixth       False
seventh      True
eighth       True
ninth       False
tenth        True
eleventh    False
Name: My letters, dtype: bool

In [ ]:
# @title
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = X <= 0
mask

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, get the negative elements

In [61]:
# your code goes here
X = pd.Series([1, 2, 3, 4, 6, 6, -8, -10, 11, -9, 45],
              name='My letters',
              index=['first', 'second', 'third', 'forth', 'fifth', 'sixth', 'seventh', 'eighth', 'ninth', 'tenth', 'eleventh'])
mask = X<=0
X[mask]

seventh    -8
eighth    -10
tenth      -9
Name: My letters, dtype: int64

In [ ]:
# @title
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = X <= 0
X[mask]

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, get numbers higher than 5

In [62]:
# your code goes here
X = pd.Series([1, 2, 3, 4, 6, 6, -8, -10, 11, -9, 45],
              name='My letters',
              index=['first', 'second', 'third', 'forth', 'fifth', 'sixth', 'seventh', 'eighth', 'ninth', 'tenth', 'eleventh'])

mask = X > 5

X[mask]

fifth        6
sixth        6
ninth       11
eleventh    45
Name: My letters, dtype: int64

In [ ]:
# @title
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = X > 5
X[mask]

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, get numbers higher than the elements mean

In [63]:
# your code goes here
X = pd.Series([1, 2, 3, 4, 6, 6, -8, -10, 11, -9, 45],
              name='My letters',
              index=['first', 'second', 'third', 'forth', 'fifth', 'sixth', 'seventh', 'eighth', 'ninth', 'tenth', 'eleventh'])

mask = X > X.mean()

X[mask]

fifth        6
sixth        6
ninth       11
eleventh    45
Name: My letters, dtype: int64

In [ ]:
# @title
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = X > X.mean()
X[mask]

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, get numbers equal to 2 or 10

In [64]:
# your code goes here
X = pd.Series([1, 2, 3, 4, 6, 6, -8, -10, 11, -9, 45, 10],
              name='My letters',
              index=['first', 'second', 'third', 'forth', 'fifth', 'sixth', 'seventh', 'eighth', 'ninth', 'tenth', 'eleventh', 'twelfth'])

mask = (X == 2) | (X == 10)

X[mask]

second      2
twelfth    10
Name: My letters, dtype: int64

In [ ]:
# @title
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = (X == 2) | (X == 10)
X[mask]

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Logic functions

### Given the X pandas Series, return True if none of its elements is zero

In [65]:
# your code goes here
X = pd.Series([1, 2, 3, 4, 6, 0, -8, -10, 11, -9, 45],
              name='My letters',
              index=['first', 'second', 'third', 'forth', 'fifth', 'sixth', 'seventh', 'eighth', 'ninth', 'tenth', 'eleventh'])

X.all()

False

In [66]:
# @title
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

X.all()

False

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, return True if any of its elements is zero

In [67]:
# your code goes here
X = pd.Series([1, 2, 3, 4, 0, 6, -8, -10, 11, -9, 45],
              name='My letters',
              index=['first', 'second', 'third', 'forth', 'fifth', 'sixth', 'seventh', 'eighth', 'ninth', 'tenth', 'eleventh'])

X.any()

True

In [ ]:
# @title
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

X.any()

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Summary statistics

### Given the X pandas Series, show the sum of its elements

In [68]:
# your code goes here
X = pd.Series([1, 2, 3, 4, 6, 6, -8, -10, 11, -9, 45],
              name='My letters',
              index=['first', 'second', 'third', 'forth', 'fifth', 'sixth', 'seventh', 'eighth', 'ninth', 'tenth', 'eleventh'])

X.sum()

51

In [ ]:
# @title
X = pd.Series([3,5,6,7,2,3,4,9,4])

#np.sum(X)
X.sum()

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show the mean value of its elements

In [69]:
# your code goes here
X = pd.Series([1, 2, 3, 4, 6, 6, -8, -10, 11, -9, 45],
              name='My letters',
              index=['first', 'second', 'third', 'forth', 'fifth', 'sixth', 'seventh', 'eighth', 'ninth', 'tenth', 'eleventh'])

X.mean()

4.636363636363637

In [ ]:
# @title
X = pd.Series([1,2,0,4,5,6,0,0,9,10])

#np.mean(X)
X.mean()

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show the max value of its elements

In [70]:
# your code goes here
X = pd.Series([1, 2, 3, 4, 6, 6, -8, -10, 11, -9, 45],
              name='My letters',
              index=['first', 'second', 'third', 'forth', 'fifth', 'sixth', 'seventh', 'eighth', 'ninth', 'tenth', 'eleventh'])

X.max()

45

In [ ]:
# @title
X = pd.Series([1,2,0,4,5,6,0,0,9,10])

#np.max(X)
X.max()

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)